<div class="container">
  <div class="col-sm-12">
    <app-card cardTitle="Edit RFQ" [options]="false">
      <div class="workflow-container">
        <h2>The RFQ / Versions </h2>
        <div class="line"></div>
        <div class="workflow">
            <div class="step">
                <div class="circle"><span>✔</span></div>
                <h3>Business Analysis</h3>
                <p> and integrating components.</p>
            </div>
            <div class="step">
                <div class="circle"><span>✔</span></div>
                <h3>Designing</h3>
                <p>Creating UI/UX wireframes and mockups.</p>
            </div>
            <div class="step active">
                <div class="circle"><span>✔</span></div>
                <h3>Developing</h3>
                <p>Writing code and integrating components.</p>
            </div>
            <div class="step">
                <div class="circle"><span>✔</span></div>
                <h3>Testing</h3>
                <p> bla bla kaaljkzjd Performing QA and fixing bugs.</p>
            </div>
            <div class="step">
                <div class="circle"><span>✔</span></div>
                <h3>Distribution</h3>
                <p>Writing code and integrating components.</p>
            </div>
        </div>
      </div>

    </app-card>
  </div>
</div>


