<div class="container">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Component" [options]="false">

      <div class="d-flex justify-content-between align-items-center">
        <h3>RFQ N°{{ idrfq }}</h3>
        <span
          class="badge rounded-pill px-3 py-2"
          [ngClass]="{
            'bg-warning text-dark': !rfq.valide && !rfq.rejete,
            'bg-success': rfq.valide,
            'bg-danger': rfq.rejete
          }">
          {{ rfq.valide ? 'Validée' : (rfq.rejete ? 'Rejetée' : 'En attente') }}
        </span>
      </div>

      <form [formGroup]="rfqForm">
        <div class="row">


          <!-- Client -->
          <div class="row">
            <hr />
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Client</label>
                <input type="text" class="form-control" [value]="rfq.client" disabled />
              </div>
            </div>

            <!-- <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Sales</label>
                <input type="text" class="form-control" [value]="selectedClient?.sales" disabled />
              </div>
            </div> -->

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>CQ</label>
                <input class="form-control" [value]="rfq.cq" disabled />
              </div>
            </div>
          </div>

          <!-- RFQ -->
          <div class="row">
            <h6>RFQ</h6>
            <hr />

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Quote Name</label>
                <input class="form-control" [value]="rfq.quoteName" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Market Segment</label>
                <input class="form-control" [value]="rfq.marketSegment" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Number of ref to be quoted</label>
                <input class="form-control" [value]="rfq.numRefQuoted" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>SOP Date</label>
                <input class="form-control" [value]="rfq.sopDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Maximum Value</label>
                <input class="form-control" [value]="rfq.maxV" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Estimated Value</label>
                <input class="form-control" [value]="rfq.estV" disabled />
              </div>
            </div>
          </div>



          <!-- Materials -->
          <div class="row">
            <h6>Materials</h6>
            <hr />

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>KO Date</label>
                <input class="form-control" [value]="rfq.koDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Customer Due Date</label>
                <input class="form-control" [value]="rfq.customerDataDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Material Leader</label>
                <input class="form-control" [value]="rfq.materialLeader" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Material Due Date</label>
                <input class="form-control" [value]="rfq.mdDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Material Release Date</label>
                <input class="form-control" [value]="rfq.mrDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>


          </div>

          <!-- Test -->
          <div class="row">
            <h6>Test</h6>
            <hr />

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Test Leader</label>
                <input class="form-control" [value]="rfq.testLeader" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Test Due Date</label>
                <input class="form-control" [value]="rfq.tdDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Test Release Date</label>
                <input class="form-control" [value]="rfq.trDate | date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

          </div>

          <!-- VA -->
          <div class="row">
            <h6>VA</h6>
            <hr />

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>VA Leader</label>
                <input class="form-control" [value]="rfq.vaLeader" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Labour Due Date</label>
                <input class="form-control" [value]="rfq.ldDate|date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Labour Release Date</label>
                <input class="form-control" [value]="rfq.lrDate|date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Customer Due date</label>
                <input class="form-control" [value]="rfq.cdDate| date:'yyyy-MM-dd'" disabled />
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label>Approval Date </label>
                <input class="form-control" [value]="rfq.approvalDate| date:'yyyy-MM-dd'" disabled />
              </div>
            </div>


          </div>

          <!-- RFQ Engineer -->
          <div class="form-group">
            <label>RFQ Engineer</label>
            <input class="form-control" [value]="rfq.ingenieurRFQ" disabled />
          </div>

        </div>

        <div class="d-flex justify-content-center mt-4">

          <button *ngIf="isValidateur && rfq?.valide === false && rfq?.rejete === false"
                  type="button" class="btn btn-outline-danger"
                  (click)="onSubmitRejeter()">
            <i class="feather icon-x-circle"></i> Rejeter
          </button>

          <button *ngIf="isValidateur && rfq?.valide === false && rfq?.rejete === false"
                  type="button" class="btn btn-outline-success"
                  (click)="onSubmitValider()">
            <i class="feather icon-check-circle"></i> Valider
          </button>

          <button *ngIf="rfq?.valide === false"
                  type="button" class="btn btn-outline-warning"
                  (click)="onSubmitEditer()">
            <i class="feather icon-edit"></i> Editer
          </button>

        </div>

      </form>
    </app-card>
  </div>
</div>
