<div class="container">
  <div class="col-sm-12">
    <app-card cardTitle="Edit RFQ" [options]="false">

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <!-- Client -->
          <!-- Client -->
          <div class="row" >
            <h6> Client </h6>
            <hr />
            <div class="col-md-4 mb-3">
           <div class="form-group">
            <label for="clientId">Client</label>
            <select id="clientId" class="form-control" formControlName="clientId" (change)="onClientChange($event)">
              <option *ngIf="clients.length === 0" disabled>Loading...</option>
              <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
            </select>
           </div>
            </div>
          <div class="col-md-4 mb-3" *ngIf="selectedClient">
            <div class="form-group">
              <label for="clientSales">Sales</label>
              <input type="text" id="clientSales" class="form-control" [value]="selectedClient.sales" disabled />
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="cq">CQ</label>
              <input id="cq" class="form-control" formControlName="cq" placeholder="Enter CQ" />
            </div>
            </div>
        </div>


          <!-- RFQ -->
          <div class="row">
            <h6> RFQ </h6>
            <hr />
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="quoteName">Quote Name</label>
                <input id="quoteName" class="form-control" formControlName="quoteName" placeholder="Enter quote name" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="marketSegmentId">Market Segment</label>
                <select id="marketSegmentId" class="form-control" formControlName="marketSegmentId">
                  <option *ngFor="let segment of marketSegments" [value]="segment.id">{{ segment.nom }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="numRefQuoted">Number of ref to be quoted</label>
                <input id="numRefQuoted" class="form-control" formControlName="numRefQuoted" placeholder="Enter reference number" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="sopDate">SOP Date</label>
                <input id="sopDate" class="form-control" formControlName="sopDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="maxV">Maximum Volume</label>
                <input id="maxV" class="form-control" formControlName="maxV" placeholder="Enter maximum value" type="number" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="estV">Estimated Volume</label>
                <input id="estV" class="form-control" formControlName="estV" placeholder="Enter estimated value" type="number" />
              </div>
            </div>
          </div>

          <!-- Materials -->
          <div class="row">
            <h6> Materials </h6>
            <hr />
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="koDate">KO Date</label>
                <input id="koDate" class="form-control" formControlName="koDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="customerDataDate">Customer Due Date</label>
                <input id="customerDataDate" class="form-control" formControlName="customerDataDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="materialLeaderId">Material Leader</label>
                <select id="materialLeaderId" class="form-control" formControlName="materialLeaderId">
                  <option *ngFor="let leader of materialLeaders" [value]="leader.id">{{ leader.nom }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="mdDate">Material Due Date</label>
                <input id="mdDate" class="form-control" formControlName="mdDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="mrDate">Material Release</label>
                <input id="mrDate" class="form-control" formControlName="mrDate" type="date" />
              </div>
            </div>
          </div>

          <!-- Test -->
          <div class="row">
            <h6> Test </h6>
            <hr />
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="testLeaderId">Test Leader</label>
                <select id="testLeaderId" class="form-control" formControlName="testLeaderId">
                  <option *ngFor="let tester of testers" [value]="tester.id">{{ tester.nom }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="tdDate">Test Due Date</label>
                <input id="tdDate" class="form-control" formControlName="tdDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="trDate">Test Release</label>
                <input id="trDate" class="form-control" formControlName="trDate" type="date" />
              </div>
            </div>
          </div>

          <!-- VA -->
          <div class="row">
            <h6> VA </h6>
            <hr />
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="valeaderId">VA Leader</label>
                <select id="valeaderId" class="form-control" formControlName="valeaderId">
                  <option *ngFor="let ingenieur of ingenieurs" [value]="ingenieur.id">{{ ingenieur.nomUser }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="ldDate">Labour Due Date</label>
                <input id="ldDate" class="form-control" formControlName="ldDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="lrDate">Labour Release Date</label>
                <input id="lrDate" class="form-control" formControlName="lrDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="cdDate">Customer Due date</label>
                <input id="cdDate" class="form-control" formControlName="cdDate" type="date" />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="statut">Status</label>
                <select id="statut" class="form-control" formControlName="statut">
                  <option *ngFor="let statut of statutOptions" [value]="statut.value">{{ statut.label }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="approvalDate">Approval Date</label>
                <input id="approvalDate" class="form-control" formControlName="approvalDate" type="date" />
              </div>
            </div>
          </div>

          <!-- RFQ Engineer -->
          <div class="form-group">
            <label for="ingenieurRFQId">RFQ Engineer</label>
            <select id="ingenieurRFQId" class="form-control" formControlName="ingenieurRFQId">
              <option *ngFor="let ingenieur of ingenieurs" [value]="ingenieur.id">{{ ingenieur.nomUser }}</option>
            </select>
          </div>

          <!-- Submit button -->
          <div class="d-flex justify-content-center mt-4">
            <button *ngIf="!isBrouillon" type="submit" class="btn btn-outline-primary">
              <i class="feather icon-save"></i> Update
            </button>

            <button *ngIf="isBrouillon" type="button" class="btn btn-outline-primary" (click)="FinaliserBrouillon()">
              <i class="feather icon-save"></i> Finaliser Brouillon
            </button>
          </div>


        </div>
      </form>
    </app-card>
  </div>
</div>
